html {
  font-family: 'Inter', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.c-app {
  max-width: 100%;
  margin: 0 auto;
}

.c-nav {
  width: 100%;
}

.c-section {
  padding: 60px 0;

  &__title {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 14px;
  }
}

.u-radius-md {
  border-radius: $radius-md;
}

.u-radius-sm {
  border-radius: $radius-sm;
}

.u-radius-lg {
  border-radius: $radius-lg;
}

.container {
  width: 960px;
  margin: auto;
}
