@font-face {
  font-family: 'Inter';
  font-weight: 200;
  src: url('https://res.cloudinary.com/daitiebum/raw/upload/v1602658172/Flutterwave/Inter-ExtraLight.ttf')
    format('truetype'); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('https://res.cloudinary.com/daitiebum/raw/upload/v1602655660/Flutterwave/Inter-Light.ttf')
    format('truetype'); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Inter';
  font-weight: normal;
  src: url('https://res.cloudinary.com/daitiebum/raw/upload/v1600633416/Flutterwave/Inter-Regular.ttf')
    format('truetype'); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('https://res.cloudinary.com/daitiebum/raw/upload/v1600634164/Flutterwave/Inter-Medium.ttf')
    format('truetype'); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('https://res.cloudinary.com/daitiebum/raw/upload/v1600634753/Flutterwave/Inter-SemiBold.ttf')
    format('truetype'); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}

