html {
  font-family: 'Inter', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

select {
  outline: none;
}

.c-app {
  max-width: 100%;
  margin: 0 auto;
}

.c-nav {
  width: 100%;
}

.u-radius-md {
  border-radius: $radius-md;
}

.u-radius-sm {
  border-radius: $radius-sm;
}

.u-radius-lg {
  border-radius: $radius-lg;
}

.container {
  width: $container-width-default;
  margin: auto;
  position: relative;
  max-width: 100%;
  @include medium {
    padding: 0 20px;
  }
}

.c-button {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  display: flex;
  align-items: center;

  &:hover {
    img {
      transform: translate(0%, 0%);
    }
  }

  &__icon {
    $scale: 17px;
    background-color: $color-yellow;
    margin-left: 10px;
    border-radius: 4px;
    width: $scale;
    height: $scale;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: translate(25%, -20%);
      transition: transform 0.5s $easeOutExpo;
    }
  }
}
