$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
$color-yellow: #F9D808;
$color-gray: #F2F5F5;
$color-white: #FFF;
$color-black: #000;
$radius-md: 10px;
$radius-sm: 5px;
$radius-lg: 15px;
$container-width-default: 960px;
